<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ config.title }}</title>
    </head>

  <style>
  body {
    color: #777 ;
    background-color: black ;
  }  
  img {
    width: auto ;
    max-width: 90% ;
    height: auto ;
  } 
  .content {
    max-width: 600px ;
    margin: auto ;
  }
  </style>
  <body>
    <div class="content">
	{% block content %}
	{{section.content | safe}}
        {% endblock content %}
    </div>
  </body>
</html>
